# 1. syntax dasar
ini adalah contoh catatan

In [1]:
print('hello world')

hello world

In [3]:
a= 5
b = 6
print (a*b)
print (a**b)

30
15625

In [5]:
print (7*8)

56

# Variable
tempat menyimpan nilai sementara

In [6]:
nama = "Guntur Budi Herwanto"
print (nama)

Guntur Budi Herwanto

In [7]:
a, b, c = 5, 3.2, "guntur"
print (a, b, c)

5 3.2 guntur

In [8]:
x=y=z="sama"
print (x,y,z)

sama sama sama

# Tipe data
 number
 strings
 boolean
 list
 tuple
 set
 dictionary

# numbers
- integer
- float
- boolean
- string

In [11]:
a = 5
print (a, 'mempunyai tipe data', type(a))

b = 5.0
print (b, 'mempunyai tipe data', type (b))

c = 5>6
print (c, 'mempunyai tipe data', type(c))

d = 5<6
print (d, 'mempunyai tipe data', type(d))

e = 'ini adalah kata'
print (e, 'mempunyai tipe data', type(e))

5 mempunyai tipe data <class 'int'>
5.0 mempunyai tipe data <class 'float'>
False mempunyai tipe data <class 'bool'>
True mempunyai tipe data <class 'bool'>
ini adalah kata mempunyai tipe data <class 'str'>

# operator
- +
- -
- *
- /
- %
- //
- **

In [14]:
x=5
y=4

print ((x+y)*(x+y))

81

# Latihan 
Pada keluaran buku terbaru, Harry Potter harga buku adalah Rp 100.000, tetapi toko buku mendapatkan diskon 40%. Pengiriman biaya Rp 9.000 untuk salinan pertama dan Rp 3.000 untuk setiap salinan tambahan. Berapa total biaya keseluruhan untuk pengiriman buku 60 eksemplar?

In [19]:
hargaBuku = 100000
diskon = 0.4
ongkir1 = 9000
ongkir2 = 3000
eksemplar = 60

jumlahDiskon = hargaBuku*diskon
hargaDiskon = hargaBuku-jumlahDiskon
totalHargaBuku= hargaDiskon*eksemplar
biayaKirim = ongkir1+(ongkir2*(eksemplar-1))
biayaTotal = totalHargaBuku+biayaKirim

print (biayaTotal)

3786000.0

LATIHAN
Body Mass Index (BMI) menentukan sebuah keidealan berat badan terhadap tinggi badan. Berikut adalah formula dari BMI : BMI = weight (kg) รท height^2 (m^2)
Berikut adalah kategorisasi BMI
BMI	Kategori BMI	

Kurang dari 15	Very severely underweight	
Diantara 15 dan 16	Severely underweight	
Diantara 16 dan 18.5	Underweight	
Diantara 18.5 dan 25	Normal (healthy weight)	
Diantara 25 dan 30	Overweight	
Diantara 30 dan 35	Moderately obese	
Diantara 35 dan 40	Severely obese	
Over 40	Very severely obese
Buatlah sebuah program yang memiliki dua variabel berat badan dengan satuan KG, dan tinggi badan dengan satuan CM, kemudian keluaran dari program adalah Kategori BMI

In [ ]:
print ("hello")

In [ ]:
x = 5 == 5
y = 1 > 2


print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

In [ ]:
print ('markdown')

In [ ]:
print ('hello world')

In [ ]:
#