In [2]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range (3,10):
    print (i)

3
4
5
6
7
8
9

In [20]:
nilai = [30,40,50,60,70]
print (nilai[-4])
print (nilai[:6])

40
[30, 40, 50, 60, 70]

In [19]:
matrik = [[30,40,50,60,70],[30,40,50,60,70],[30,40,50,60,70]]
print (matrik)

[[30, 40, 50, 60, 70], [30, 40, 50, 60, 70], [30, 40, 50, 60, 70]]

In [21]:
#menambah elemen ke dalam list

nilai.append(nilai[0:6])
print (nilai)

[30, 40, 50, 60, 70, [30, 40, 50, 60, 70]]

In [22]:
print (nilai)

[30, 40, 50, 60, 70, [30, 40, 50, 60, 70]]

In [29]:
nilai = [30,40,50,60,70]
total = 0

for n in nilai:
    total = total + n
    
rata = sum(nilai)/len(nilai)

print (sum(nilai))
print (len(nilai))
print(rata)
print(total)

250
5
50.0
250

In [27]:
a = 25
c = 0

In [46]:
nilai = [20,30,40,50,60,70,80,90]
rata = sum(nilai)/len(nilai)
print ('\nlist kita:',nilai)
print ('\nmean kita:',rata)
print ('\njumlah member list:',len(nilai))

for i in range (0,(len(nilai))):
    if nilai[i]>=rata:
        print (nilai[i])
   # else:
    #    print (nilai[i],'lebih kecil dari mean')
        
for angka in nilai:
    if angka >= rata:
        print (angka)

list kita: [20, 30, 40, 50, 60, 70, 80, 90]

mean kita: 55.0

jumlah member list: 8
60
70
80
90
60
70
80
90

# Tuple

In [65]:
bulan = ('Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember')
print (len(bulan))
print (bulan[0:(len(bulan))])

12
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# Dictionary

In [90]:
siswa1 = {'nama':'Budi','umur':7,'status':'L'}
siswa2 = {'nama':'Rini','umur':5,'status':'P'}
siswa3 = {'nama':'Edi','umur':2,'status':'L'}

siswa3['score'] = nilai

kelas = []
kelas.append(siswa1)
kelas.append(siswa2)
len(kelas)


print (kelas)

for k, v in siswa1.items():
    print (k,v)

[{'nama': 'Budi', 'umur': 7, 'status': 'L'}, {'nama': 'Rini', 'umur': 5, 'status': 'P'}]
nama Budi
umur 7
status L

# String

In [76]:
nama = 'Tutoria Bahasa Pemrograman Phyton'
print(nama)

words = nama.split()
print (words)

for a in words:
    print (a[0])

Tutoria Bahasa Pemrograman Phyton
['Tutoria', 'Bahasa', 'Pemrograman', 'Phyton']
T
B
P
P

In [79]:
kalimat = 'cetak huruf pertama dari setiap kata'
kata = kalimat.split()

for member in kata:
    print (member[0],end=',')

c,h,p,d,s,k,

In [84]:
paragraf = 'pada hari minggu kuturut ayah ke kota. naik delman istimewa kududuk di muka. duduk di muka pak kusir yang sedang bekerja. bekerja mengendarai kuda supaya baik jalannya'
kalimats = paragraf.split('.')
for kalimat in kalimats:
    kata = kalimat.split()
    print (kata[2])

minggu
istimewa
muka
kuda